<link rel="stylesheet" href="../../src/styles/main.css">

<div class="breadcrumbs">
    <div class="breadcrumbs__item">Главная</div>
    <div class="breadcrumbs__item">
        <!-- <img src="../../src/assets/images/icons/Rectangle 37.png" alt=""> -->
        Каталог
    </div>
    <div class="breadcrumbs__item">
        <!-- <img src="../../src/assets/images/icons/Rectangle 37.png" alt=""> -->
        Троутарная плитка</div>
    <div class="breadcrumbs__item">
        <!-- <img src="../../src/assets/images/icons/Rectangle 37.png" alt=""> -->
        Классико Северити
    </div>
</div>