<link rel="stylesheet" href="../../src/styles/main.css">

<div class="button-variants">
    <div class="button">
        <button class="button button_color_subdued button_size_large static">Button</button>
        <button class="button button_color_accent button_size_large hover">Button</button>
        <button class="button button_color_accent button_size_large active">Button</button>
        <button class="button button_color_accent button_size_large loading">
            <img src="../../src/assets/images/icons/loading.svg" width="24px" alt="">
            Button
        </button>
        <button class="button button_color_subdued40 button_size_large disabled">Button</button>
    </div>
    <div class="button">
        <button class="button button_color_subdued button_size_basic static">Button</button>
        <button class="button button_color_accent button_size_basic hover">Button</button>
        <button class="button button_color_accent button_size_basic active">Button</button>
        <button class="button button_color_accent button_size_basic loading">
        <img src="../../src/assets/images/icons/loading.svg" width="24px" alt="">
            Button
        </button>
        <button class="button button_color_subdued40 button_size_basic disabled">Button</button>
    </div>
    <div class="button">
        <button class="button button_color_subdued button_size_small static">Button</button>
        <button class="button button_color_accent button_size_small hover">Button</button>
        <button class="button button_color_accent button_size_small active">Button</button>
        <button class="button button_color_accent button_size_small loading">
            <img src="../../src/assets/images/icons/loading.svg" width="16px" alt="">
            Button
        </button>
        <button class="button button_color_subdued40 button_size_small disabled">Button</button>
    </div>
    <div class="button">
        <button class="button button_ghost_subdued button_size_small static">Button</button>
        <button class="button button_ghost_accent button_size_small hover">Button</button>
        <button class="button button_ghost_accent button_size_small active">Button</button>
        <button class="button button_ghost_accent button_size_small loading">
            <img src="../../src/assets/images/icons/loadingaccent.svg" width="16px" alt="">
            Button</button>
        <button class="button button_ghost_subdued40 button_size_small disabled">Button</button>
    </div>
</div>