<div class="card-heading card-heading__basic">
    <div class="card-heading__content">
        <span>Смотреть все</span>
        <p>Каталог продукции</p>
    </div>
</div>
<div class="card-heading card-heading__wide">
    <div class="card-heading__content">
        <span>Смотреть все</span>
        <p>Отзывы наших клиентов</p>
    </div>
</div>
<div class="card-heading card-heading__tall">
    <div class="card-heading__content">
        <p>Последние новости</p>
        <span>Смотреть все</span>
    </div>
</div>
<div class="card-heading card-heading__large">
    <div class="card-heading__content">
        <p>Наши проекты</p>
        <img src="../../src/assets/images/backgrounds/suitcase.png" alt="">
    </div>
</div>
<div class="card-heading card-heading__largetwo">
    <div class="card-heading__content">
        <p>Мы — команда профессионалов, преданная искусству создания красивых и прочных тротуарных решений</p>
        <span class="grey">Наша миссия — преображать пространства, делая их функциональными, безопасными и визуально привлекательными. Мы стремимся к совершенству в каждом аспекте нашей работы: от выбора лучших материалов до точной проработки дизайна.</span>
    </div>
</div>
<link rel="stylesheet" href="../../src/styles/main.css">
