<div class="card-testimonial card-testimonial_wide">
    <div class="card-testimonial_wide__profile-block">
        <div class="card-testimonial_wide__profile-block__photo foto">
            <img src="../../src/assets/images/others/foto.png" alt="">
        </div>
        <div class="card-testimonial_wide__info-block info">
            <div class="card-testimonial_wide__info-block__title info__name">Иван Александров</div>
            <div class="card-testimonial_wide__info-block__title_sub info__date">20 марта 2024</div>
        </div>
    </div>
    
    <div class="card-testimonial_wide__content">
        Благодаря нашему опыту и профессионализму мы гарантируем, что каждый клиент получит идеальное решение для своего проекта. Присоединяйтесь к нам, и вместе мы создадим уникальные тротуары, которые будут радовать глаз и служить вам многие годы!                
    </div>
</div>
<div class="card-testimonial card-testimonial_basic">
    <div class="card-testimonial_basic__profile">
        <div class="foto">
            <img src="../../src/assets/images/others/foto.png" alt="">
        </div>
        <div class="info">
            <div class="info__name">Иван Александров</div>
            <div class="info__date">20 марта 2024</div>
        </div>
    </div>
    <div class="card-testimonial_basic__content">
        Благодаря нашему опыту и профессионализму мы гарантируем, что каждый клиент получит идеальное решение для своего проекта.
    </div>
</div>
<link rel="stylesheet" href="../../src/styles/main.css">
