<div class="card-news card-news_basic">
    <div class="card-news__img">
        <img src="../../src/assets/images/backgrounds/card-news-basic.png" alt="">
    </div>
    <div class="card-news__content">
        <div class="card-news__content__date">20 марта 2024</div>
        <div class="card-news__content__text">
            <p>Глобальный тренд</p>
            <span>Ведущие производители тротуарной плитки и брусчатки внедряют дизайнерские решения для создания уникальных городских пейзажей</span>
        </div>
    </div>
</div>
<div class="card-news card-news_wide">
    <div class="card-news__img">
        <img src="../../src/assets/images/backgrounds/card-news-wide.png" alt="">
    </div>
    <div class="card-news__content">
        <div class="card-news__content__date">20 марта 2024</div>
        <div class="card-news__content__text">
            <p>Глобальный тренд</p>
            <span>Ведущие производители тротуарной плитки и брусчатки внедряют дизайнерские решения для создания уникальных городских пейзажей</span>
        </div>
    </div>
</div>
<div class="card-news card-news_tall">
        <div class="card-newsl__img">
            <img src="../../src/assets/images/backgrounds/card-news-tall.png" alt="">
        </div>
        <div class="card-news__content">
            <div class="card-news__content__date">20 марта 2024</div>
            <div class="card-news__content__text">
                <p>Глобальный тренд</p>
                <span>Ведущие производители тротуарной плитки и брусчатки внедряют дизайнерские решения для создания уникальных городских пейзажей</span>
            </div>
        </div>
</div>
<link rel="stylesheet" href="../../src/styles/main.css">
