<div class="cookie-alert">
    <div class="cookie-alert__info">
        <div class="cookie-alert__info__title">
            <p>Мы используем Cookie-файлы</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M6 6L18 18M18 6L6 18" stroke="#BF8B41" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="cookie-alert__info__text">Без них мы не можем гарантировать правильную работу сайта</div>
    </div>
    <div class="cookie-alert__button">
        Хорошо, используйте
    </div>
</div>
<link rel="stylesheet" href="../../src/styles/main.css">