<link rel="stylesheet" href="../../src/styles/main.css">

<div class="icon-button">
    <button class="icon-button icon-button_static">
        <img src="../../src/assets/images/icons/xmark1.svg" alt="">
    </button>
    <button class="icon-button icon-button_active">
        <img src="../../src/assets/images/icons/xmark2.svg" alt="">
    </button>
    <button class="icon-button icon-button_hover">
        <img src="../../src/assets/images/icons/xmark2.svg" alt="">
    </button>
    <button class="icon-button icon-button_disabled">
        <img src="../../src/assets/images/icons/xmark3.svg" alt="">
    </button>
</div>