a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
@media (max-width: 1920px) {
  html {
    font-size: 0.8333vw;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1921px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  main {
    margin: 0;
    max-width: none;
  }
}

hr {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  height: 100%;
}

@font-face {
  font-family: "LT Superior";
  src: url("/src/assets/fonts/LTSuperior-Regular.otf");
}
.mt-8 {
  margin-top: 8rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.container {
  margin: 0 15rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
}
@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
.container_grid6 {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 1.25rem;
}
@media (max-width: 768px) {
  .container_grid6 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.container {
  margin: 0 9rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.75rem;
}
@media (max-width: 768px) {
  .container {
    margin: 0 1rem;
  }
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

.modal[data-modal-state=close] {
  scale: 0;
  opacity: 0;
}

.modal[data-modal-state=open] {
  scale: 1;
  opacity: 1;
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 50;
}
.modal[data-modal-state=open] .modal-inset {
  position: absolute;
  inset: 0;
  background-color: rgba(13, 13, 13, 0.4);
}
.modal[data-modal-state=open] .modal-content {
  scale: 1;
  opacity: 1;
}
.modal[data-modal-state=close] .modal-content {
  scale: 0;
  opacity: 0;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
}

.modal-content {
  transition: all 0.3s cubic-bezier(0.34, 1.02, 0.38, 1);
  position: relative;
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-heading {
  display: inline-flex;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 2px solid #E9E9E9;
  background: #FFFFFF;
  max-width: 24.9rem;
  width: 100%;
  height: 18.4rem;
}
.card-heading span {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.025rem;
  color: #BF8B41;
}
.card-heading p {
  font-size: 3rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: -0.09rem;
}
.card-heading__wide {
  max-width: 50.6rem;
}
.card-heading__wide p {
  max-width: 19.6rem;
  width: 100%;
}
.card-heading__tall {
  height: 37.6rem;
}
.card-heading__large {
  position: relative;
  max-width: 46.6rem;
  height: 37.6rem;
}
.card-heading__large img {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}
.card-heading__largetwo {
  max-width: 50.6rem;
  height: 24.5rem;
}
.card-heading__largetwo .grey {
  color: rgba(38, 38, 38, 0.4);
  font-size: 1.5rem;
  font-weight: 450;
  line-height: 121%;
  letter-spacing: -0.045rem;
}
.card-heading__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

* {
  font-family: "LT Superior";
}

.card-product {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  border-radius: 1rem;
  max-width: 24.9rem;
  width: 100%;
  height: 30rem;
  gap: 1.25rem;
  background-color: #F6F3EF;
}
.card-product__content {
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  color: #262626;
  width: 100%;
}
.card-product__content p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03rem;
}
.card-product__content span {
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: -0.025rem;
}
.card-product .button {
  padding: 0.75rem 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCA267;
  color: var(--text-White-text-terteriary, #FFF);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.025rem;
}

.card-products_tall,
.card-products_basic {
  position: relative;
}
.card-products_tall__text,
.card-products_basic__text {
  top: 0px;
  left: 0px;
  font-size: 2rem;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.06rem;
  color: #BF8B41;
}

.card-products_tall {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #F6F3EF;
  max-width: 24.9rem;
  width: 100%;
  box-sizing: border-box;
}
.card-products_tall img {
  right: -21.0625rem;
  bottom: 0rem;
}
.card-products_tall__text {
  max-width: 16rem;
  width: 100%;
}
.card-products_basic__text {
  position: absolute;
  padding: 2rem;
}

.card-promo_tall {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: #F6F3EF;
  max-width: 24.9rem;
  width: 100%;
  box-sizing: border-box;
}
.card-promo_tall img {
  border-radius: 1rem;
}
.card-promo_tall__text {
  max-width: 16rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.06rem;
  color: #BF8B41;
  padding: 2rem;
}

.card-img {
  max-width: 1920px;
  width: 100%;
}
.card-img_basic, .card-img_wide {
  display: flex;
  align-items: flex-end;
}
.card-img_basic img, .card-img_wide img {
  position: relative;
  z-index: -2;
}
.card-img_basic p, .card-img_wide p {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.06rem;
}

.card-img {
  max-width: 1920px;
  width: 100%;
}
.card-img_basic, .card-img_wide {
  display: flex;
  align-items: flex-end;
}
.card-img_basic img, .card-img_wide img {
  position: relative;
  z-index: -2;
}
.card-img_basic p, .card-img_wide p {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.06rem;
}

.card-testimonial_basic, .card-testimonial_wide {
  display: inline-flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 1rem;
  background-color: #F6F3EF;
}
.card-testimonial_basic__profile, .card-testimonial_wide__profile {
  display: inline-flex;
  gap: 1.25rem;
  align-items: center;
}
.card-testimonial_basic__profile .info__name, .card-testimonial_wide__profile .info__name {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.03rem;
  color: #262626;
}
.card-testimonial_basic__profile .info__date, .card-testimonial_wide__profile .info__date {
  font-size: 1rem;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: -0.01rem;
  color: #A8A8A8;
}
.card-testimonial_basic__content, .card-testimonial_wide__content {
  max-width: 20.9rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: -0.025rem;
  color: #262626;
}
.card-testimonial__wide__content {
  max-width: 46.6rem;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

.card-news {
  position: relative;
  border-radius: 1rem;
}
.card-news__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20.9rem;
  width: 100%;
  max-height: 33.6rem;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 2rem;
  box-sizing: border-box;
  color: #FFFFFF;
  border-radius: 1rem;
}
.card-news__content__date {
  font-size: 1rem;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: -0.01rem;
  color: rgba(255, 255, 255, 0.6);
}
.card-news__content__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-news__content__text p {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.06rem;
}
.card-news__content__text span {
  font-size: 1.25rem;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: -0.025rem;
  color: rgba(255, 255, 255, 0.6);
}
.card-news_wide__content {
  max-width: 33.1rem;
}

.cookie-alert {
  max-width: 42rem;
  border-radius: 1rem;
  border: 2px solid #E9E9E9;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.cookie-alert__info {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.cookie-alert__info__title {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.cookie-alert__info__title p {
  color: #262626;
  font-size: 32px;
  font-weight: 600;
  line-height: 115%;
  letter-spacing: -0.96px;
}
.cookie-alert__info__text {
  color: #A8A8A8;
  font-size: 24px;
  font-weight: 450;
  line-height: 121%;
  letter-spacing: -0.72px;
  max-width: 27.1rem;
  width: 100%;
}
.cookie-alert__button {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 0.5rem;
  background: #CCA267;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.4px;
  width: max-content;
}

.button {
  border-radius: 8px;
  border: none;
  width: fit-content;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.025rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .button {
    font-size: 0.875rem;
    line-height: 130%;
    letter-spacing: -0.00875rem;
  }
}
.button_size {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.button_size_large {
  padding: 1.25rem;
}
.button_size_basic {
  padding: 12px 20px;
}
.button_size_small {
  padding: 16px;
}
.button_size .loading {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.button_color_subdued {
  background-color: #CCA267;
}
.button_color_accent {
  background-color: #BF8B41;
}
.button_color_subdued40 {
  background-color: color-mix(in srgb, #FFFFFF 60%, #E5D1B3 100%);
}
.button_color_subdued40 {
  background-color: color-mix(in srgb, #FFFFFF 60%, #E5D1B3 100%);
}
.button_ghost_subdued {
  color: #CCA267;
  background: none;
}
.button_ghost_accent {
  color: #BF8B41;
  background: none;
}
.button_ghost_subdued40 {
  color: color-mix(in srgb, #FFFFFF 60%, #E5D1B3 100%);
  background: none;
}
.button_ghost_subdued40 {
  color: color-mix(in srgb, #FFFFFF 60%, #E5D1B3 100%);
  background: none;
}

.icon-button {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  background: #FFFFFF;
}
.icon-button:active {
  background: #BF8B41;
}
.icon-button:hover {
  background: #BF8B41;
}
.icon-button_disabled {
  background: #F6F3EF;
}

.breadcrumbs {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.breadcrumbs__item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding-right: 0.595rem;
  color: #262626;
  font-size: 20px;
  font-weight: 450;
  line-height: 130%;
  letter-spacing: -0.4px;
}
.breadcrumbs__item::after {
  content: "";
  position: absolute;
  background-color: #BF8B41;
  max-width: 0.375rem;
  max-height: 0.375rem;
  aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  right: -0.25rem;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.button-variants__size.about-dropdown {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #E9E9E9;
  background: #FFFFFF;
  width: fit-content;
}
.button-variants__size.about-dropdown button {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.4px;
}
.button-variants__size.about-dropdown .color_wh {
  color: #262626;
  background: none;
}

.input__label {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.input__label_large {
  border: 1px solid #BF8B41;
  padding: 3rem;
}
.input__label_large:has(input:focus) {
  border: 1px solid #262626;
}

header {
  position: sticky;
  z-index: 47;
  top: -1px;
  transform: translateY(0);
  transition: transform 0.3s ease;
  width: 100%;
}
header_sticky-hidden {
  transform: translateY(-100%);
}

/*# sourceMappingURL=main.css.map */
